{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0d7d018ff8.js" crossorigin="anonymous"></script>
  <title>RemindMe</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  {% if request.user.is_authenticated %}
  <p class='user'>Logged in as {{request.user}}</p>
  {% else %}
  <a href="{% url 'login' %}" class='login-link'>Login</a>
  {% endif %}
  <hr>
  <div class='list-container'>
      <form method="GET" class='search-header'>
        <input type="text" name='search-bar' value={{search_input}}>
        <button type="submit" class='search'><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <h1 class='user-list-header'>{{request.user}}'s list</h1>
      <h3 class='incomplete-header'>You have {{count}} incomplete tasks</h3>
      <div class='list-components'>
        {% for task in tasks %}
        <div class='task-div'>
          {% if task.complete %}
          <div>
            <i><s class='strike'><a href="{% url 'task-update' task.id %}" class='edit-btn'>{{task}} - {{task.created}}</a></s></i>
          </div>
          {% else %}
          <div>
            <a href="{% url 'task-update' task.id %}" class='edit-btn' class='edit-btn'>{{task}} - {{task.created}}</a>
          </div>
          {% endif %}
          <div class='delete-btn-container'>
            <a href="{% url 'task-delete' task.id %}" class='delete-btn'><i class="fa-solid fa-trash-arrow-up"></i></a>
          </div>
        </div>
        {% empty %}
          <h3>No items in list</h3>
        {% endfor %}
      </div>
  </div>
</body>
<div class='nav-bar'>
  {% if request.user.is_authenticated %}
    <a href="{% url 'task-create' %}" class='add-task'><i class="fa-solid fa-pen-to-square"></i></a>
    <a href="{% url 'tasks' %}"><i class="fa-solid fa-eye"></i></a>
    <a href="{% url 'logout' %}"><i class="fa-solid fa-user-xmark"></i></a>
  {% endif %}
</div>
  {% block content %}
  {% endblock %}
</html>