{% extends 'main_app/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/0d7d018ff8.js" crossorigin="anonymous"></script>
  {% block head%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/task_confirm_delete.css' %}">
  {% endblock %}
  <title>Task Delete</title>
</head>
<body>
  {% block content %}
  <a href="{% url 'tasks' %}" class='go-back-btn'><i class="fa-solid fa-arrow-left"></i> Cancel</a>
  <form method="POST" action="">
    {% csrf_token %}
    <p class='delete-text'>Are you sure you want to delete this task? "{{task}}"</p>
    <input value="Yes, delete task" type="submit" class='delete-btn'>
  </form>
</body>
{% endblock %}
</html>